@import "/src/_globals";
.page-header{
    background-color: $main;
    color: white;
    text-align: center;
    border:1px solid $main;
    padding:15px;
    margin-top: -1px;
    h2{
        margin:0px;
    }
    p{
        margin: 4px 0px 0px 0px;
        font-size: small;
    }
}