<div class="flex">
<div>
    <div class="PNC-header">
        <img alt="PNC Logo" src="./assets/pnc-bank.png">
    </div>
    <div class="content-wrap">
        <div class="login-form">
            <form (ngSubmit)="tryUserLogin()">
                <div class="form-text">
                    <label for="userId">Enter user ID</label>
                    <input name="userId" [(ngModel)]="credentials.userId" type="text" >
                    
                </div>
                <div class="form-checkbox">
                    <label for="remember">Save User ID?</label>
                    <input type="checkbox" name="remember">
                </div>
                <div class="form-text">
                    <label for="password">Enter password</label>
                    <input name="password" [(ngModel)]="credentials.password" type="password">
                </div>
                <div class="float-right">
                    <a target="_blank" href="https://secure.pnc.com/web-auth/verify-user/confirm-your-info">Forgot User ID or Password?</a>
                </div>
                <div class="submit-wrap">
                    <button type="submit">Sign In</button>
                </div>
            </form>
            
        </div>
        <div class="bottom-options">
            <div><img height="50px" src="./assets/pfp-ico.png" alt="pfp ico">Enroll</div>
            <div><img height="50px" src="./assets/help-ico.png" alt="help ico">Help</div>
            <div><img height="50px" src="./assets/pin-ico.png" alt="pin ico">Locate</div>
            <div><img height="50px" src="./assets/globe-ico.png" alt="globe ico">PNC.com</div>
        </div>
    </div>
    <div class="app-info">
        <p>Choose your language | Seleccione su idoma</p>
        <p>App Version {{ getVersion() }}</p>
        <p></p>
    </div>
</div>
</div>