
<div class="popup-info-wrapper">
    <div class="popup-info-inner">
        <div class="popup-header">
                <h2>Whoops..</h2>
        </div>
        <div class="popup-info">
            <div class="popup-text-block">
                <h3>This page is out of scope!</h3>
                <p>Sorry! It appears you tried accessing a page that's out of the scope of this project. <br><br> Hopefully we can implement this in the future!</p>
            </div>
            <button (click)="routeBack()">Back</button>
        </div>
    </div>
</div>
