:root{
    --pnc-blue: #336699;
}
$pnc-blue: #336699;
$pnc-orange: #CC6633;
$app-bg: #F7F7F9;
$bg-lightest: #FFF;
$bg-light-grey: #F4F4F4;
$bg-grey: #D7D7D7;
$bg-dark-grey: #BAB9BB;
$green:#486338;
$txt-grey: rgb(129, 129, 129);