@import "/src/_globals";

.close-box{
    position: relative;
    top: 0px;
    left: 0px;
    background-color: red;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    padding:5px;
    width:fit-content;
    margin: -19px -14px;
}
.popup-text-block{
    font-size: 18px !important;
    input{
        font-size: 18px !important;
        border: none;
        outline: 2px groove $main;
    }
}