@import "/src/_globals";
.account-wrap{
    display: grid;
    text-align: center;
    h3{
        margin:0;
        padding:0;
        padding-bottom: 5px;
        text-transform: uppercase;
    }
}
.info-wrap{
    background:$bg-lightest;
    box-shadow: 0px 0px 3px grey;
    border-width: 0px 0px 7px 0px;
    border-style: solid;
    border-image: linear-gradient(to right, #F7971F 0%, #DB4921 100%) 1;
    display: grid;
    justify-content: center;
    padding: 7px 0 5px 0;
    p{
        margin:0;
        padding:2px;
        font-size: 14px;
    }
    h1{
        color:$main;
        margin:0;
        padding:2px;
        font-weight: normal;
    }
}