.navi{
    display: flex;
    height: 100rem;
    border: red solid 1px;
    
}
.page-content{
    width: 100rem;
}
.container { 
    background: #336699;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: none;
    //border-bottom: 2px solid #2d5985;
}

.side-nav{
    background: white;
    display: flow-root;
    font-size: 18px;
    a {
        display: block;
    }
}
.profile-wrap{
    a>*{
        margin: 0;
        font-weight: normal;
    }
    p{font-size: small;}
    h2{font-size: 20px;}
    
}
.link-wrap{
    text-transform: uppercase;
    >* {
        margin: 30px 40px 15px 10px;
    }
}
.nav-ico{
    height: 32px;
}
button{
    background: none;
    border:none;
    margin: 12px;
}
