.section{
    margin:15px;
    margin-bottom: 30px;
    .section-title{
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin:7px 0px;
        font-size: 18px;
        margin-bottom: 7px;
        h3{
            margin:0px
        }
    }

    
    
}