<div *ngIf="view==''">
    <div class="selector">
        <!-- <h2>Select an account to<br>transfer money from:</h2> -->

        <div class="transfer-from-selector">
            <form (ngSubmit)="onSubmit()" id="transferForm">
                <label>Select an account to<br>transfer money from:</label>
                <select class="classic" #select
                [(ngModel)]="selectedAccount" required="" [ngModelOptions]="{standalone: true}"
                (change)="onSelectionChange(select.value)">
                    <option value="Transfer From:" selected hidden>Transfer From:</option>
                    <option *ngFor="let account of accounts" [value]="account.accountNumber"
                    >{{ account.accountType }}</option>
                </select>
            </form>
        </div>

        <div class="other-transfer">
            <div>
                <img alt="USA">
                <div>Send a Domestic Wire
                <p>Wire funds to a U.S. bank account</p>
                </div>
            </div>
            <span>></span>
        </div>
        <div class="other-transfer">
            <div>
                <img alt="globe">
                <div>Send a International Transfer
                    <p>Transfer funds to a bank account outside<br> the U.S.</p>
                </div>
            </div>
            <span>></span>
        </div>
    </div>
    <div class="tran-type-selector">
        <div [ngClass]="{'active': activeItem === 1}" (click)="setActive(1)">PNC<br>Accounts</div>
        <div [ngClass]="{'active': activeItem === 2}" (click)="setActive(2)">External</div>
        <div [ngClass]="{'active': activeItem === 3}" (click)="setActive(3)">Wire and<br>Intl.</div>
    </div>
    <div class="transfer-info">
        <wmf-recent-transfers></wmf-recent-transfers>
        <wmf-recent-transfers></wmf-recent-transfers>
    </div>
</div>