@import "/src/_globals";
.flex{
    display: flex;
    width: 100%;
    >div{
        width: 100%;
        //border:1px solid red;
    }
}
.PNC-header{
    background-image: linear-gradient($main, #1f4368);
    display: flex;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
    padding:20px 0px;
    img{
        max-height:150px;
        max-width:150px;
        height:auto;
        width:auto;
    }
}

.user-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    .text-block.middle{
        width: 100% !important;
        justify-content: center !important;
    }
    .text-block{
        width: 25%;
        text-align: center;
        outline: thick double $main;
        margin:8px;
        padding:2px;
        display: inline;
        p{
            padding: 0px;
            margin: 0px;
        }
    }
    
}

.content-wrap{
    display: block;
    padding: 20px;
}
.login-form form{
    
    display: block;
    width: 100%;
    margin: 20px 0px;
    .form-text{
        box-shadow: 0px 0px 3px grey;
        position: relative;
        width: 100%;
        display: inline-block;
        input{
            width: calc(100% - 10px);
            border:none;
            margin:0px;
            padding:20px 5px 8px 5px;
            font-size: 17px;
        }
        input:focus{
            outline: none;
            border-bottom: 3px solid $main;
        }
        label{
            position: absolute;
            top:2px;
            left:2px;
            font-size: 13px
        }
    }
    .form-checkbox{
        background-color: #E9E9E9;
        box-shadow: 0px 0px 3px grey;
        border-top: 0px;
        border-bottom: 0px;
        width: calc(100% - 30px);
        height: 20px !important;
        padding:15px;
        margin-bottom: -2px;
        
        display: inline-block;
        label{float:left;}
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            float:right;
            accent-color:$main-alt;
        }
    }
    .submit-wrap{
        display: flex;
        justify-content: center;
        button{
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 20px;
            width: 75%;
            height: 50px;
            border: none;
            border-radius: 5px;
            background-color: $main;
            color: white;
        }
    }
}
.float-right{
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    a{float: right; color:$main;}
}

.bottom-options{
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    justify-content: space-around;
    div{
        display: block;
        max-width: 80px;
    }
}
.bottom-options>div{
    display: table;
}

.app-info{
    
    width: 100%;
    text-align: center;
    >*{
        margin: 0px;
    }
}