.section-item-small{
    padding: 10px !important;
    img{ height: 32px !important; }
    p{ margin: 0px !important; }
}
.section-item{
    box-shadow: 0px 0px 3px grey;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-right: 10px !important;
    padding: 15px 10px;
    .section-item-left{
        display:flex;
        align-items: center;
        max-width: 75%;
        img{
            height: 40px;
            width: auto;

            margin-right: 4px;
        }
        .section-text-block{
            h3{
                margin:0px;
                text-transform: capitalize;
            }
            p{
                margin: 5px 0px 0px 0px;
            }
        }
    }
    .section-item-right{
        display: flex;
        align-items: center;
        justify-items: flex-end;
        .section-item-arrow{
            font-size: 20px;
            font-weight: bold;
            margin-left:3px;
            color: rgb(51, 102, 153);
        }
        .section-item-arrow-desc{
            float:right;
            color: rgb(129, 129, 129);
            font-size: 13px;
        }

    }
}