
<div (click)="doRoute()" class="section-item" [ngClass]="sectionItemSmall == true ? 'section-item-small' : ''">
    <div class="section-item-left">
        <img id="secItemIcon" [src]="iconSrc" alt="">
        <div class="section-text-block">
            <h3 [id]="secItemTitleID"></h3>
            <p [id]="secItemDescID"></p>
        </div>
    </div>
    <div class="section-item-right" *ngIf="hasArrow">
        <p class="section-item-arrow-desc" [id]="secItemArrowOptionID"></p>
        <p class="section-item-arrow">></p>
    </div>
</div>
