.container {
    background: #336699;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    
    padding: none;
    border-bottom: 2px solid #2d5985;
}
.side-nav{
    display: flow-root;
    a {
        display: block;
    }
}
.nav-ico{
    height: 32px;
}
button{
    background: none;
    border:none;
    margin: 12px;
}
